[submodule "fixtures/gate-repo"]
	path = fixtures/gate-repo
	url = /home/roel/dnld/sdc4/dev/git/rust/ruchat-gate-fixture
[submodule "fixtures/mutant-repo"]
	path = fixtures/mutant-repo
	url = /home/roel/dnld/sdc4/dev/git/rust/ruchat-mutant-fixture
